<h1 class="page-title"> Room: <%= @room.name %> </h1>

<div class="container">  
  <div class="grid grid--auto-fill">
    <% @collection.faces.each do |face| %>
      <div class="grid__item"> 
      <% if face.name == 'Mabel' %>
        <%= image_tag("mabel.png", :style => 'border-radius: 12px; width:200px; height:200px;')%>
      <% else %>
        <%= image_tag("dipper.jpeg", :style => 'border-radius: 12px; width:200px; height:200px;')%>
      <% end %>
        <div class="H1toH5">
          <label>
            <input type="checkbox" />
            <span class="seatButton"><%= face.name %></span>
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>
