<h1 class="page-title"> Room: <%= @room.name %> </h1>

<div class="container">  
  <div class="grid grid--auto-fill">
    <% @collection.faces.each do |face| %>
      <div class="grid__item"> 
        <%= image_tag(face.name.downcase + ".png", :style => 'border-radius: 12px; width:180px; height:180px;')%>
        <div class="H1toH5">
          <label>
            <input type="checkbox" />
            <span class="seatButton"><%= face.name %></span>
          </label>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="image_container">
  <h2 style="margin-left:42%"> Você é: </h2>
  <p><%= image_tag(@your_image + ".png", :style => 'border-radius: 12px; width:180px; height:180px;')%>
</div>